<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Faturas</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="(faturas$ | async) as faturas; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Data da Vencimento</th>
          <th>Data da Emissao</th>
          <th>Valor</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fatura of faturas">
          <td>{{ fatura.numeroFatura }}</td>
          <td>{{ fatura.dataVencimento }}</td>
          <td>{{ fatura.dataEmissao }}</td>
          <td>{{ fatura.valor }}</td>
          <td>{{ fatura.status }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(fatura.numeroFatura)">
                Gerar Boleto
              </button>

            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Faturas...</span>
    </ng-template>

    <!--ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
        Erro ao carregar faturas. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
          <span>Carregando faturas...</span>
      </ng-template>
    </ng-template -->
  </div>
</div>