<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Apelido</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Apelido" value="Caminhao 001" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Placa</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Placa" value="xxx-1234" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Renavam</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Renavam" value="XXXXXX" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Fabricantr</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Fabricantr" value="SCANIA" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Modelo</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Modelo" value="G420" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="validationCustom04">Ano</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="2012" required>
            <div class="invalid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="validationCustom05">Tipo</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="Caminhao" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">Categoria</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Categoria" value="02 Eixos Rod Dupla" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Combustivel</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="DIESEL" value="xxx-1234" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Cor</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Cor" value="Branco" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div style="margin-top: 10px">
        <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
    </div>
</form>